/* 
    Created on : Sep 13, 2020, 4:47:13 PM
    Author     : tom
*/



* { 
    padding: 0;
    margin: 0;
}

#registrationHeader {
    padding: .3em;
    color: #1d3d70;
}

#crsName {
    font-size: 2em;
}

.sectionHead {
    padding: 0 15px;
    font-family: 'Rubik', sans-serif;
    color: #1d3d70;
}

.sectionHeadBtn {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #1d3d70;
    background: none!important;
    border: none;
    cursor: pointer;
    outline: none;
}

body {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

#searchBtn {
    padding-top: 50px;
    margin-top: 15px;
    border: none;
    background-color: #1d3d70;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
}

#disabledBtn {
    padding-top: 50px;
    margin-top: 15px;
    border: none;
    background-color: #999999;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
    cursor: not-allowed;
}

#links {
    padding-top: 15px;
    
}

a {
    text-decoration: none;
}

li {
    padding-top: 10px; 
}
