/* 
    Created on : Sep 13, 2020, 4:47:13 PM
    Author     : tom
*/



* { 
    padding: 0;
    margin: 0;
}


#profileImage {
    font-family: sans-serif;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #0b4864;
    font-size: 4em;
    color: white;
    text-align: center;
    line-height: 150px;
    margin: auto;
}

#studentName {
    padding-top: 20px;
    text-align: center;
}

.card {
    max-width: 90%;
    margin-top: 25px;
}

.form-group {
    padding-top: 30px;
}

body {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

#regBtn {
    margin-top: 15px;
    border: none;
    background-color: #1d3d70;
    border-radius: 50px;
    padding: 15px 30px;
    color: white;
}

li {
    padding-top: 20px; 
}

#time {
    font-size: 13px;
    min-width: 18px;
    text-align: left;
    font-weight: 400;
}

#spacer {
    min-width: 8px;
}

#calendar {
    width: 100%;
    margin-left: -10px;
}

#calendar td {
    font-weight: 800;
    text-align: left;
    height: 25px;
}